<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
             <!-- Informacion sobre mi -->
        <div id="index-info" class="p-sm-3">
            <h2></h2>
            <p class="lead my-sm-3">Since the first time I've got a computer, on the year 2000, I felt amazed on the magic that sarounds the question "How computers work?". I grew-up playing and trying to hack video-games, later on I learn to programm by myself. This, influenced me on my upcomming years, until it became my job.</p>
            <p class="lead my-sm-3">I've worked in some big companies, in which I participated in several projects as a Functional Analyst, Java Developer and IOS Developer. There I gain experience on teamwork, several technologies and how project are managst.</p>
            <p class="lead my-sm-3">Finally this site is a mixture of a portfolio and blog, where I join my passion of programming with the things that interest me.</p>
        </div>

        <script src="" async defer></script>
    </body>
</html>