<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<body>

<!-- Footer fragment -->
<div th:fragment="footer">

	<!-- Footer content -->
	<footer class="site-footer">
		<div class="container">
		  <div class="row">
		    <div class="col-sm-12 col-md-6">
		      <h6>About Me</h6>
		      <p class="text-justify">I like programming, sports and spending time with my love ones.</p>
		    </div>
		
		    <div class="col-xs-6 col-md-3">
		      <h6>Categories</h6>
		      <ul class="footer-links">
		        <li><a href="#">Java</a></li>
		      </ul>
		    </div>
		
		    <div class="col-xs-6 col-md-3">
		      <h6>SITEMAP</h6>
		      <ul class="footer-links">
		        <li><a href="#">Index</a></li>
		        <li><a href="#">Blog</a></li>
		        <li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Admin</a></li>
		      </ul>
		    </div>
		  </div>
		  <hr>
		</div>
		<div class="container">
		  <div class="row">
		    <div class="col-md-8 col-sm-6 col-xs-12">
		      <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
		   <a href="#">&lt;JMPALAZZOLO.IO&gt;</a>.
		      </p>
		    </div>
		
		    <div class="col-md-4 col-sm-6 col-xs-12">
		      <ul class="icons-container">
		        <li class="icon-container m-2"><a  href="mailto:contact@jmpalazzolo.io"><img class="mail icon" th:src="@{images/email-icon.png}"></a></li> 
		        <li class="icon-container m-2"><a href="https://github.com/jmpala"><img class="github icon" th:src="@{images/github-icon.png}"></a></li> 
		      </ul>
		    </div>
		  </div>
		</div>
	</footer>

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

	<script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}"></script>

</div>

</body>
</html>