/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "roboto-monospace";
  src: ulr("fonts/RobotoMono-Medium");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "roboto-monospace";
}

#container-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f8f9fa !important;
}

#navbar {
  background: #26272b !important;
}

#index-jumbotron {
  height: 400px;
  width: 100%;
  color: white;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner-index.png");
}
#index-jumbotron hr {
  height: 1px;
  border: 0px;
  background: white;
  background: -webkit-radial-gradient(white 35%, transparent 20%);
  background: -o-radial-gradient(white 35%, transparent 20%);
  background: -moz-radial-gradient(white 35%, transparent 20%);
  background: radial-gradient(white 35%, transparent 20%);
}

.kiss-pop {
  color: red;
  text-decoration: underline;
}

.index-carousel {
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.69);
}

.banner1 {
  height: 400px;
  width: 100%;
  background-color: #aaaaaa;
  color: black;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.banner2 {
  height: 400px;
  width: 100%;
  background-color: #bbbbbb;
  color: black;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.benner3 {
  height: 400px;
  width: 100%;
  background-color: #cccccc;
  color: black;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.slick-dots {
  bottom: 0px !important;
}

footer .icons-container {
  list-style: none;
}
footer .icon-container {
  height: 32px;
  width: 32px;
  display: inline-block;
}
footer .icon {
  height: auto;
  width: 100%;
  filter: brightness(0) invert(1);
}
